{% extends "djapp/base.html" %}

{% block content %}
    <h1>以下の内容で間違いないですか？</h1>
    {% for field in form %} 

    <div class="form-group">

        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>

        {{ field.value }}

    </div>

    {% endfor %}
    
    {% comment %} <a href="{% url 'djapp:user_data_input' %}" class="btn btn-primary btn-lg">戻る</a> {% endcomment %}

    <hr>

    {% comment %} <form action="{% url 'djapp:user_data_create' %}" method="POST">

        <button type="submit" class="btn btn-primary btn-lg">送信</button>

        {% csrf_token %}

    </form> {% endcomment %}

{% endblock %}